doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      a(class='home-link' href='/') Home
      a(href='/item/create') Create Item
      a(href='/items/all') View All Items
      a(href='/items/deleted') View Deleted Items
    
    h1=title

    block content
