* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  background-color: #005cc8;
}

nav a {
  padding: 5px 10px;
  color: #fefefe;
  display: flex;
  align-self: center;
}

.page-title {
  margin-bottom: 50px;
}

.home-link {
  flex-grow: 1;
  text-align: start;
}

.item-card {
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 285px;
}

.item-card * {
  padding: 5px;
}

.item-card a {
  display: inline-block;
  background-color: #005cc8;
  color: #fefefe;
  border-radius: 3px;
  margin: 5px;
  width: 65px;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

form input,
textarea {
  text-align: center;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
}

button {
  padding: 5px;
  border-radius: 3px;
  color: #fefefe;
  background-color: #005cc8;
}

button:hover {
  transform: scale(1.02);
}

.delete-checkbox-label {
  padding-right: 20px;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 300px;
  margin: 25px auto;
  border-radius: 5px;
  padding: 50px;
}

.homepage p {
  padding: 10px;
}

.homepage a {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  padding: 5px;
  border-radius: 3px;
  color: #fefefe;
  background-color: #005cc8;
}
