* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
}

nav a {
  padding: 0px 5px;
}

.page-title {
  margin: 50px 0;
}

.home-link {
  flex-grow: 1;
  text-align: start;
}

.item-card {
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 285px;
}

.item-card * {
  padding: 5px;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

form input {
  text-align: center;
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
}

form button {
  padding: 5px;
  border-radius: 3px;
}

form button:hover {
  transform: scale(1.02);
}
